#banner
    .banner_content
        %h1 File Cabinet
        %p Your life's work. Always organized.
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Lucas ipsum dolor sit amet hutt jade ogemite quinlan orus lumiya thisspias lorth moff tyranus. Teneniel dagobah naberrie sern. Jin'ha antilles jan piett er'kit barabel vuffi mon. Piett sluis elrood neimoidian. Qui-gonn shmi momaw bajic gavyn quadrinaros. Maul massa koon lepi ben. Cassio miraluka san unduli nosaurian zuggs gamorr. Ebe tarpals trianii mara gran max vella caamasi. Mod bane auril cb-99. Nahdar gran wroonian kast rahn priapulin irek sidious shadda. Noghri tierce tarpals cadavine togruta saleucami seerdon cathar balosar.

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br/
        %button= link_to "Join Now", new_user_registration_path